@import "../../assets/scss/index.scss";

.homefeed {
  &-container {
    box-sizing: border-box;
    height: 100vh;
    background: $bg-white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    width: 100%;
    overflow-y: hidden;
    padding: 20px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    &-title {
      @include heading(28px, 800, $primaryBlackColor);
      padding-left: 10px;
    }
    &-left {
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
  &-preview {
    display: flex;
    align-items: center;
    background-color: $bg-grey;
    border-radius: 12px;
    padding: 16px;
    span {
      @include heading(18px, 600, $primaryBlackColor);
    }
  }
  &-add {
    position: relative !important;
    background: $bg-grey2;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: #fafafa;
    border-radius: 100px;
    &-img {
      top: 9px;
      left: 9px;
      position: absolute;
    }
  }
  &-list-item {
    &-container {
      display: flex;
      align-items: center;
    }
  }
  &-list-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $bg-grey;
    border-radius: 16px;
    padding: 12px 24px;
    box-sizing: border-box;
    &-left {
      display: flex;
      align-items: center;
    }
    &-right {
      @extend .homefeed-list-view-left;
    }
  }
  &-popver {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $bg-white;
    border: 2px solid $bg-grey;
    border-radius: 14px;
    width: 20vw;
    &-todo-img {
      height: 20px;
      width: 20px;
    }
    &-action-img {
      height: 24px;
      width: 20px;
    }
    &-item-container {
      padding: 15px 20px;
    }
  }

  img {
    cursor: pointer;
  }
}

/* Overwrite Material UI Classes */
.MuiPopover-root .MuiPopover-paper {
  border: none !important;
  box-shadow: none !important;
  top: 10% !important;
  background-color: transparent !important;
}
